In [1]:
import requests
import json
import os
import time
import sqlite3
import pandas as pd

In [2]:
report_date = "2020-04-24"

In [10]:
conn = sqlite3.connect('BD_COVID19_BOL.sqlite')

df_t = pd.read_sql_query("""select * 
from daily_covid19_BO
where daily_fecha = '{fecha_consulta}'
order by daily_depto """.format(fecha_consulta = report_date), conn)


conn.close()

df_t[['daily_fecha', 'daily_depto', 'daily_total_confirmados', 'daily_total_activos',
       'daily_total_decesos', 'daily_total_recuperados',
       'daily_total_sospechosos', 'daily_total_descartados',
       'daily_total_total']].to_csv("daily_report/{}.csv".format(report_date),index=False)

# Confirmed 	Deaths 	Recovered 	Active

conn = sqlite3.connect('BD_COVID19_BOL.sqlite')

time_series = pd.read_sql_query("""select daily_fecha, daily_depto,
daily_total_confirmados, daily_total_activos,
daily_total_decesos, daily_total_recuperados,
daily_total_sospechosos, daily_total_descartados,
daily_total_total
from daily_covid19_BO
order by daily_depto """.format(fecha_consulta = report_date), conn)


conn.close()

time_series
confirmados_ts = time_series.pivot("daily_depto","daily_fecha","daily_total_confirmados").reset_index()
activos_ts     = time_series.pivot("daily_depto","daily_fecha","daily_total_activos").reset_index()
decesos_ts     = time_series.pivot("daily_depto","daily_fecha","daily_total_decesos").reset_index()
recuperados_ts = time_series.pivot("daily_depto","daily_fecha","daily_total_recuperados").reset_index()

confirmados_ts.to_csv("time_series/time_series_covid19_confirmados_BO.csv",index=False)
activos_ts.to_csv("time_series/time_series_covid19_activos_BO.csv",index=False)
decesos_ts.to_csv("time_series/time_series_covid19_decesos_BO.csv",index=False)
recuperados_ts.to_csv("time_series/time_series_covid19_recuperados_BO.csv",index=False)

In [6]:
time_series.pivot("daily_depto","daily_fecha","daily_total_confirmados").reset_index()

daily_fecha,daily_depto,2020-04-20,2020-04-21,2020-04-22,2020-04-23,2020-04-24,2020-04-25,2020-04-26,2020-04-27
0,BN,2,2,2,2,33,39,57,62
1,CB,61,62,63,66,70,71,78,78
2,CH,1,1,1,2,2,2,2,3
3,LP,134,137,140,150,155,59,168,185
4,OR,49,49,59,62,65,65,79,92
5,PN,12,12,12,12,12,12,12,12
6,PT,19,19,21,21,21,26,26,26
7,SC,317,324,371,385,446,489,525,553
8,TJ,3,3,3,3,3,3,3,3

In [7]:
pd.__version__

'0.22.0'